<!-- Top News Start-->
<div class="top-news">
    <div class="container">
        <div class="row">
            <div class="col-md-7 tn-left">
                <div class="row tn-slider">
                    <div class="col-md-12">
                        <div class="tn-img">
                            <img [src]="news.avatar" />
                        </div>
                       
                    </div>
                    <div class="tn-title">
                        <a href="/detail/{{news.id}}">{{news.title}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="container">
                    <div class="col-md-12" *ngFor="let news of newsList; let i = index ">
                        <div class="tn-img" style="margin-bottom: 20px;" >
                            <div *ngIf="i < 6">
                                <div class="row">
                                <div class="col-md-8">
                                    <a href="/detail/{{news.id}}">{{news.title}}</a>
                                </div>
                                <div class="col-md-4"><img [src]="news.avatar" /></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top News End-->

<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Thế giới</h2>
                <div class="row cn-slider">
                    <div class="col-md-12" *ngFor="let news of internationalNews; let i = index">
                        <div *ngIf="i < 5">
                            <div class="cn-img" style="margin-bottom: 20px;">
                                <div class="row">
                                    <div class="col-md-4"><img [src]="news.avatar" /></div>
                                    <div class="col-md-8">
                                        <a href="/detail/{{news.id}}">{{news.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Kinh doanh</h2>
                <div class="row cn-slider">
                    <div class="col-md-12" *ngFor="let news of businessNews; let i = index">
                        <div *ngIf="i < 5">
                            <div class="cn-img" style="margin-bottom: 20px;">
                                <div class="row">
                                    <div class="col-md-4"><img [src]="news.avatar" /></div>
                                    <div class="col-md-8">
                                        <a href="/detail/{{news.id}}">{{news.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category News End-->

<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Giáo dục</h2>
                <div class="row cn-slider">
                    <div class="col-md-6" *ngFor="let news of educationNews; let i = index">
                        <div *ngIf="i < 4">
                            <div class="cn-img">
                                <img [src]="news.avatar" />
                                <div class="cn-title">
                                    <a href="/detail/{{news.id}}">{{news.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Văn hóa</h2>
                <div class="row cn-slider">
                    <div class="col-md-6" *ngFor="let news of culturedNews; let i = index">
                        <div *ngIf="i < 4">
                            <div class="cn-img">
                                <img [src]="news.avatar" />
                                <div class="cn-title">
                                    <a href="/detail/{{news.id}}">{{news.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category News End-->

<!-- Tab News Start-->
<div class="tab-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#featured">Công nghệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#popular">Giải trí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#latest">Thể thao</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="featured" class="container tab-pane active">
                        <div class="tn-news" *ngFor="let news of technologyNews; let i = index">
                            <div *ngIf="i < 6">
                                <div class="tn-img">
                                    <img [src]="news.avatar" />
                                </div>
                                <div class="tn-title">
                                    <a href="/detail/{{news.id}}">{{news.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="popular" class="container tab-pane fade">
                        <div class="tn-news" *ngFor="let news of entertainmentNews; let i = index">
                            <div *ngIf="i < 6">
                                <div class="tn-img">
                                    <img [src]="news.avatar" />
                                </div>
                                <div class="tn-title">
                                    <a href="/detail/{{news.id}}">{{news.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="latest" class="container tab-pane fade">
                        <div class="tn-news" *ngFor="let news of sportsNews; let i = index">
                            <div *ngIf="i < 6">
                                <div class="tn-img">
                                    <img [src]="news.avatar" />
                                </div>
                                <div class="tn-title">
                                    <a href="/detail/{{news.id}}">{{news.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#m-viewed">Sức khỏe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#m-read">Du lịch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#m-recent">Xe</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="m-viewed" class="container tab-pane active">
                        <div class="tn-news" *ngFor="let news of healthNews; let i = index">
                            <div *ngIf="i < 6">
                                <div class="tn-img">
                                    <img [src]="news.avatar" />
                                </div>
                                <div class="tn-title">
                                    <a href="/detail/{{news.id}}">{{news.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="m-read" class="container tab-pane fade">
                        <div class="tn-news" *ngFor="let news of travelNews; let i = index">
                            <div *ngIf="i < 6">
                                <div class="tn-img">
                                    <img [src]="news.avatar" />
                                </div>
                                <div class="tn-title">
                                    <a href="/detail/{{news.id}}">{{news.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="m-recent" class="container tab-pane fade">
                        <div class="tn-news" *ngFor="let news of carNews; let i = index">
                            <div *ngIf="i < 6">
                                <div class="tn-img">
                                    <img [src]="news.avatar" />
                                </div>
                                <div class="tn-title">
                                    <a href="/detail/{{news.id}}">{{news.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tab News Start-->
