<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">{{news.title}}</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Single News Start-->
<div class="single-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sn-container">
                    <div class="sn-img">
                        <img [src]="news.avatar" />
                    </div>
                    <div class="sn-content">
                        <h1 class="sn-title">{{news.title}}</h1>
                        <p>
                            {{news.time}}
                        </p>
                        <p>
                            {{news.content}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h2 class="sw-title">Cùng chủ đề</h2>
                        <div class="news-list">
                            <div class="nl-item" *ngFor="let item of sameCategory; let i = index">
                                <div *ngIf="i < 7">
                                    <div class="nl-img">
                                        <img [src]="item.avatar" />
                                    </div>
                                    <div class="nl-title">
                                        <a href="/detail/{{item.id}}">{{item.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="sw-title">Danh mục</h2>
                        <div class="category">
                            <ul *ngFor="let category of topics">
                                <li><a href="/category/{{category.id}}">{{category.topicName}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single News End-->     
